[submodule "es4ps-containers"]
	path = es4all-containers
	url = git@github.com:DiegoAscanio/es4ps-containers.git
[submodule "es4ps-setup-wizard"]
	path = es4all-setup-wizard
	url = git@github.com:DiegoAscanio/es4ps-setup-wizard
